<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/navbar.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-container">
            <div class="link-container">
               <ul class="nav-list">
                <li><a class="nav-link gap" href="/">Home</a></li>
                <li class="dropdown">
                    <a class="nav-link gap" href="#">Categories </a>
                    <ul class="dropdown-content">
                        <li><a class="nav-link" href="/recipe/veg">Veg</a></li>
                        <li><a class="nav-link" href="/recipe/nonveg">Non-Veg</a></li>
                        <li><a class="nav-link" href="/recipe/breakfast">Breakfast</a></li>
                        <li><a class="nav-link" href="/recipe/snacks">Snacks</a></li>
                        <li><a class="nav-link" href="/recipe/lunch">Lunch</a></li>
                        <li><a class="nav-link" href="/recipe/dinner">Dinner</a></li>
                        <li><a class="nav-link" href="/recipe/pizza">Pizza</a></li>
                        <li><a class="nav-link" href="/recipe/biryani">Biryani</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a class="nav-link gap" href="#">Cuisine</a>
                    <ul class="dropdown-content">
                        <li><a class="nav-link" href="/cuisine/punjabi">Punjabi</a></li>
                        <li><a class="nav-link" href="/cuisine/Bengali">Bengali</a></li>
                        <li><a class="nav-link" href="/cuisine/Andhra">Andhra</a></li>
                        <li><a class="nav-link" href="/cuisine/maharashtrian">Maharashtrian</a></li>
                        <li><a class="nav-link" href="/cuisine/southindian">South Indian</a></li>
                        <li><a class="nav-link" href="/cuisine/northindian">North Indian</a></li>
                        <li><a class="nav-link" href="/cuisine/chinese">Chinese</a></li>
                        <li><a class="nav-link" href="/cuisine/asian">Asian</a></li>
                        <li><a class="nav-link" href="/cuisine/mexican">Mexican</a></li>
                        <li><a class="nav-link" href="/cuisine/japanese">Japanese</a></li>
                        <li><a class="nav-link" href="/cuisine/fusion">Fusion</a></li>
                        <li><a class="nav-link" href="/cuisine/continental">Continental</a></li> 
                    </ul>
                </li>
                <li><a class="nav-link gap" href="/about">About Us</a></li>
                </ul>

            </div>
            <div class="search-container">
                <form action="/search" method="get">
                <input type="text" name="query" placeholder="Search Your Recipe....">
                <button>Search</button>
            </form>
            </div>
            
            
        </div>
    </nav>
    
</body>
</html>