<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Dishcovery: About Us</title>
    <link rel="stylesheet" href="/about.css">
    <link rel="icon" href="/photo/RecipeLogo.jpg" type="image/x-icon">
</head>
<body>
    <%- include('includes/navbar') %>
    <div class="logo">
        <img src="/photo/RecipeLogo.jpg" alt="Dishcovery Logo">
    </div>
    <h1>About Dishcovery App</h1>
    <p>Dishcovery is a recipe-sharing platform that allows users to discover, share, and explore a wide variety of recipes from different cuisines around the world. Our mission is to bring food enthusiasts together and inspire them to cook delicious meals at home.</p>
    <h2>Our Features</h2>
    <ul>
        <li><strong>Recipe Discovery:</strong> Explore a vast collection of recipes categorized by cuisine, meal type, dietary preferences, and more.</li>
        <li><strong>User Contributions:</strong> Share your own recipes with the community and get feedback from fellow food lovers.</li>
        <li><strong>Search Functionality:</strong> Easily find recipes based on ingredients, cooking time, or specific dietary needs.</li>
        <li><strong>Community Engagement:</strong> Connect with other users through comments, ratings, and recipe reviews.</li>
    </ul>
    <h2>About Me</h2>
    <p>Hi, I'm Shivam Singh, the creator of Dishcovery. I'm passionate about cooking and love experimenting with new recipes. My goal is to make cooking accessible and enjoyable for everyone.</p>
    <h2>Contact Us</h2>
    <p>If you have any questions, suggestions, or feedback, feel free to reach out to us at <a href="https://www.instagram.com/shivam_singh_0018/">Instagram</a>.</p>
    <div class="foot">
        <p>@ 2025 Dishcovery. All rights reserved.</p>
    </div>
</body>
</html>